<h1 class="hero">How many people have been shot in Chicago?</h1>
<h2 class="hero-number"><%= @victims.count %></h2>

<% @victim_days.each do |day, victims| %>
	<div class="date-header">
		<h3><%= day.strftime("%B %d, %Y") %></h3>
		<h4><%= victims.count %></h4>

	</div>
		<ul class="victims-list">
			<% for victim in victims %>
					<li>
						<% if victim.story_url.present? %>
							<%= link_to victim.name, victim.story_url %>
						<% else %>
							<%= victim.name %>
						<% end %>
						
						<span class='age'><%= victim.age %></span>
					</li>
			<% end %>
		</ul>

	</table>
<% end %>